{% extends "nav1.html" %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="../static/css/about1.css?{% now " u"="" %}"="" />

<div class="about-page">
    <meta charset="UTF-8">
    <body>
        <div class="block"></div>

        <div class="about-title">
            <h2>ĐỒ ÁN 1</h2>
        </div>
        <img class="about-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Logo_Hust.png/1200px-Logo_Hust.png" alt="Logo HUST">
    <div class="about-thongtin">
        <li>Trường Điện- Điện tử</li>
        <li>Nguyễn Mạnh Dũng -20213838</li>
        <li>Điện tử 07</li>
        <li>Giảng viên hướng dẫn: thầy Nguyễn Thanh Bình</li>
        <div class="clear"></div>
    </div>

    </body>
</div>
{% endblock %}

