{%  extends "nav1.html" %}
{% load static %}
{% block content %}
{% load i18n %}


<link rel="stylesheet" href="{% static 'css/detail1.css' %}">

<body>
    <div class="box-margin"></div>
    <div class="container-1">
        <img class="container-1-src"src="{{ mymember.thumbnail.url }}" alt="Movie Thumbnail" class="img-cover">
        <div class="tinhnang-container-1">
            {% if request.user.is_authenticated %}
            <div class="rating-ctn1">
                <div class="form-rt">

                </div>
                <div class="button-rt">

                </div>
            </div>
            <div class="yeuthich">
                {% if is_favorite %}
                <a href="{% url 'lovemovie' movie_id=mymember.id %}">
                    <i class="gg-heart on"></i>
                </a>
                
                {% else %}
                <a href="{% url 'lovemovie' movie_id=mymember.id %}">
                    <i class="gg-heart"></i>
                </a>
                {% endif %}
            </div>
            {% endif %}
            <div class="xemphim">
                <div class="xemphim-btn">
                    <a href="{% url 'video' id=mymember.id %}">
                        <i class="gg-play-track-next-o"></i>
                    </a>
                </div>
            </div>
            <div class="trailer">
                <a href={{ mymember.trailer_link }}>
                    <i class="gg-film"></i>
                </a>
            </div>
            <div class="btn-cnt1">
                <li class="rating">{{demfav}}❤️ &nbsp {{ mymember.rating|floatformat:1 }}⭐  &nbsp {{ mymember.views }} views</li>
    <!--☆ -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container-2">
        <div class="content-conainer2">
            <li>
                <p style="font-size:24px;text-transform: uppercase;">{{ mymember.title }}</p>
            </li>
            <li>
                <p class="genre">
                    <span style="color:rgb(255, 255, 255); font-weight:bold;font-weight: bold;
                    ">{% trans "Thể Loại:" %}</span> 
                    <a href="{% url 'genre' genre_id=mymember.genre.id %}" class="" style="color: aliceblue;">
                        {% if mymember.genre.name == "Hanh Dong" %}
                            {% trans "Hành Động" %}
                        {% elif mymember.genre.name == "Tinh Cam" %}
                            {% trans "Tình Cảm" %}
                        {% elif mymember..name == "Kinh Di" %}
                            {% trans "Kinh Dị" %}
                        {% elif mymember.genre.name == "Lang Man" %}
                            {% trans "Lãng Mạn" %}
                        {% elif mymember.genre.name == "Phim Hai" %}
                            {% trans "Phim Hài" %}
                        {% elif mymember.genre.name  == "Chien Tranh" %}
                            {% trans "Chiến Tranh" %}
                        {%else %}
                            null
                        {% endif %}
                    </a>
                </p>

                <p class="genre">
                    <span style="color:rgb(255, 255, 255); font-weight:bold;font-weight: bold;
                    ">{% trans "Thể Loại:" %}</span> 
                    <a href="{% url 'country' country_id=mymember.country.id %}" class="" style="color: aliceblue;">
                        {{mymember.country.name}}
                    </a>
                </p>


            </li>
            <li>
                <p class="director" >
                    <span style=" font-weight:bold">{% trans "Đạo Diễn:" %}</span> 
                    <a style="color: aliceblue;" href="{% url 'search' %}?q={{ mymember.director }}" class="">{{ mymember.director }}</a>

                 </p>
            </li>
            <li>
                <p class="actors">
                    <span style=" font-weight:bold">{% trans "Diễn Viên:" %}</span> 
                    <a style="color: aliceblue;" href="{% url 'search' %}?q={{ mymember.actors }}" class="">{{ mymember.actors }}</a>
                </p>
            </li>
            <li>
                <div class="description">
                  <p>{{ mymember.description }}</p>
               </div>
            </li>
        </div>
    </div>
</body>



{% endblock %}